[2020-07-26 12:15] johndpope opened #4 "Q) When GPT-3....."

[2020-07-26 13:15] #4 closed

[2020-07-26 20:50] ryxcommar opened #6 "Greek letters, \bar{}, and \hat{}"
Something like this would be a good idea:

![image](https://user-images.githubusercontent.com/53090272/88488823-e3dc5f80-cf5d-11ea-9ab6-2b0a58dc48bf.png)

I have an implementation here, but I am not sure if it is good, or if it will do unexpected things:

https://github.com/ryxcommar/latexify_py/tree/master

[2020-07-26 21:59] odashi commented on #6
Yes indeed. This kind of modification should be optional, or it will include unintended changes, e.g.:

- `xi` ... `\xi` or `x_i`
- `\hat{y}` or `y_{hat}`

Especially the second case is quite troublesome, as the underscore (`_`) completely behaves differently.

For the interface, some optional parameter of `with_latex`/`get_latex` would help to switch the behavior:
[code]
I think `math_symbol` is

[2020-07-26 23:26] ryxcommar commented on #6
Something like this?

Behaviors:

![image](https://user-images.githubusercontent.com/53090272/88491975-35441900-cf75-11ea-9bcb-7b86d8693900.png)

Code:

[code]

[2020-07-26 23:45] ryxcommar commented on #6
I also suggest the following:

[code]

Otherwise this does not work:

[code]

^ That example is why I use `return '\\' + val + ' '`: `\betax` versus `\beta x`

 But if you do `ast.Mult: (lambda: _wrap(l) + ' ' + _wrap(r)),` instead, then it is no longer necessary.

[2020-07-26 23:49] odashi opened #7 "Multiple statements functions"
Currently this tool analyses only the first statement of given functions, and passing multi-statement function results in generating garbages. Basically multiple statements are hard to interpret as a single equation and it is good not to support such things in the current `with_latex` and better to provide some other interfaces.

I am thinking of two things:

1. `latexify.array`/`latexify.eqnarray

[2020-07-26 23:58] odashi commented on #6
SGTM for the behavior of the `math_symbol`.

You can insert braces as symbol separators: `{\beta}{x}`. I think every identifiers should be put in a brace for safety.

[2020-07-27 00:43] ryxcommar commented on #6
Need to be careful with wrapping everything in `{}`. I realized if you do that for every `self.visit_Name`, you get this:

![image](https://user-images.githubusercontent.com/53090272/88493517-940e9000-cf7f-11ea-9b85-ec8ca23c983e.png)

I am not good with the `ast` library, so I'm not sure how you would do it 100% correctly. For now I am going to be safe, and only convert a name if it is in `greek_a

[2020-07-27 02:07] odashi commented on #6
Yes. I am considering a better way to traverse ASTs and will change them in some future commits.

[2020-07-29 03:08] #6 closed

[2020-07-30 05:01] yangc22 commented on #7
Hi,
I have a question. When printing the function with the latexify decorator, is there any way that I can use the format string to print the string. As I have 10 functions name from "p1" to "p10". Is it possible to write a for loop to print all the functions?
Thanks.

[2020-07-30 05:11] yangc22 commented on #7
Also, is it possible to directly convert the function to string and write it to a file? Thanks!

[2020-07-30 17:47] ahmed4end opened #10 "how to install it ?"
it looks this lib isn't supported on pypi so how can i install it ?

[2020-07-30 17:48] #10 closed

[2020-07-30 17:51] ahmed4end opened #11 "Error using pip to install it."
ERROR: latexify_py is not a valid editable requirement. It should either be a
th to a local project or a VCS URL (beginning with svn+, git+, hg+, or bzr+).

[2020-07-30 19:36] odashi commented on #11
This library is not uploaded on PyPI currently. You need to clone it directly before installing:
[code]

[2020-07-30 19:38] #11 closed

[2020-07-31 05:01] hxse opened #12 "Installation is a hassle, please add pypi support"

[2020-07-31 10:03] odashi commented on #12
Uploaded as v0.0.5. Try `pip3 install latexify-py`.

[2020-07-31 10:04] #12 closed

[2020-07-31 10:14] odashi commented on #7
@yangc22 Please create a new issue instead. Your question seems being not related to this topic.

[2020-07-31 17:15] yangc22 opened #14 "Write the latexify object directly to file"
Hi,
I have a question. When printing the function with the latexify decorator, is there any way that I can use the format string to print the "function" string directly. As I have 10 functions name from "p1" to "p10". Is it possible to write a for loop to print all the functions?
Also, is it possible to directly convert the function to string and write it to a file? Thanks!
Thanks.

[2020-07-31 17:16] yangc22 commented on #7
@odashi got it thanks!

[2020-07-31 19:58] ryxcommar commented on #14
Do you want to print the rendered latex or the raw (unrendered latex)?

## Rendered LaTeX

Assuming you already decorated the functions:

[code]

If not:

[code]

## Unrendered latex

Assuming functions were not decorated:

[code]

[2020-07-31 21:01] odashi commented on #14
`get_latex` is the function that directly returns the LaTeX form without modifying the original function. You can also use `str(your_fn)` if you already wrapped your function by `with_latex`.

[2020-07-31 21:06] odashi commented on #7
Some comments has been moved to #14.

[2020-08-02 06:03] odashi opened #16 "Configs to control the behavior."
It is worth to provide some mechanism to specify particular behaviors by users, such as:
- Specifying commands for particular operators (e.g., definition is usually represented as `=`, `:=`, `\equiv`, `\triangleq`, `{\rm def}` over `=`, or `\leftarrow`).
- Auto-converting math symbols.
- Appearances of control flow, or long equations.

Currently, `with_latex` decorator have an optional flag for ma

[2020-08-02 06:05] odashi commented on #16
Maybe it could be a choice to provide a global function `latexify.set_config()` to modify the default behavior:

[code]

[2020-08-02 09:03] 1MLightyears commented on #16
[code]
Will allow all instances of `LatexifyVisitor` keep the same config.

[2020-08-03 06:43] odashi commented on #16
For this particular implementation, it looks somewhat dangerous because...
- object method (`__init__`) globally changes the class attributes.
- `dir()` returns every visible symbol of all super classes.
- `kwargs` drops much stuff for self-documenting -- using it brings difficulty for further maintenance.

I am thinking of separating configs from the visitor completely rather than directly implem

[2020-08-03 12:33] 1MLightyears commented on #16
Well...it isn't a strict implementation, I just want to show the logic. Of course there are many ways to strengthen its security, like
[code]
and change `dir(LatexifyVisitor)` into `config_list`, or
simply change
[code]
into
[code]
will guarantee k is a variable defined in LatexifyVisitor.
I'm just voting for implementing config inside LatexifyVisitor, but if you finally decide to have it outside,

[2020-08-03 18:19] yangc22 commented on #14
Thanks for the clarification!

[2020-08-03 18:19] #14 closed

[2020-08-03 23:37] odashi commented on #16
Well, the essential point I am thinking of is these flags should not be class attributes since it would be changed every time we invoked `__init__`. And introspection is basically the final choice of implementation which is chosen only when there are no easier solutions.

The first intent of this issue is how to avoid specifying a bunch of flags to `@with_latex` for *user-default* flags. Your solu

[2020-08-04 04:22] odashi opened #17 "FYI: waiting for org response"
I am currently stopping to develop everything and waiting for approvals from my org. It will remain several days. I will process PRs and issues but won't push any changes by me for awhile. Thank you for understanding.

*Do not comment here.*

[2020-08-04 13:42] 1MLightyears commented on #16
It seems I have misunderstood your requirements of the config. I'm not experienced in designing configs and thus haven't thought that far.
I would not try to implement the config part in #15 and would return the discussion after another config logic be come up with.

[2020-08-09 13:53] 1MLightyears opened #18 "Multiple Return Values"
I'm submitting this issue, instead of directly working on it, because I'm not sure if multiple return values is practical or not.

Actually, I haven't seen any function in papers I read has more than one return value, but in some special occasions-say pseudo codes-I do see some functions "equal" a list of numbers, like `pseudo_linspace(n)=1,2,...,n-1`

Are we going to take these occasions in consi

[2020-08-09 18:12] odashi commented on #18
I think math formula is basically not designed for multiple return values, but sometimes they are represented as a tuple, i.e., direct product of some single values.

In Python, returning multiple values like `return a, b, c` is just the same as returning a tuple `return (a, b, c)` and it reasonably corresponds to the math formula. In this case, we need not to add any special treatment because bot

[2020-08-09 18:17] odashi commented on #18
For lists of the same type values, e.g., `int`, it is represented as `List[int]` by the type annotation. In this case it is also better to assume that the function is returning *a list*.

[2020-08-10 09:59] 1MLightyears commented on #18
Yes I know it returns tuple but the latex output writes something like `<_ast.Tuple object at 0x********`(or `_ast.List`, depending on which type is transferred to the return statement).
Now, latexify works like this:
[code]
What I want is something like:
[code]
I'm thinking of implementing the logic of this part.

[2020-08-10 15:12] odashi commented on #18
The reason is our parser does not implement `visit_Tuple` currently so all tuple expressions are not parsed for now (and it is the same for list and dict). As I am stopping to push everything (#17) it is welcome if you add it. I think implementing tuple and list are straightforward.

[2020-08-11 12:43] 1MLightyears commented on #18
That's right, I'm just looking for an agreement of opinion for this. It will be very embarrassing if I implement it, then other contributors think it useless. Good luck!

[2020-08-13 19:18] #18 closed

[2020-08-18 18:19] odashi commented on #17
This repository has been moved to google/. Nothing different for external users/contributors.

[2020-08-18 18:19] #17 closed

[2020-08-25 16:47] benny-z opened #23 "Weird output for some functions"
There are some cases where generated LaTeX contains some weird strings (probably artifacts of the _ast_ library). Here's a minimal example:
[code]

[2020-08-25 18:41] yixingfu commented on #23
[code]
works fine. I think the problem is `visit_Assign()` not implemented.

[2020-08-26 00:56] yixingfu commented on #7
sorry I didn't see this discussion. I proposed a PR that interprets functions that has multiple statement that involves only simple assignment #24 . What do you think?

[2020-08-26 20:33] connorferster opened #25 "Similar to handcalcs?"
Hi folks,

It seems we have similar projects! :smile:

https://github.com/connorferster/handcalcs

[2020-08-27 05:17] ghosthamlet opened #26 "Generates Python functions from LaTeX math description?"
Is it harder to generate Python functions from LaTeX math description? This function will be great for read ML papers.

[2020-08-30 15:21] 1MLightyears commented on #25
hmmmm...
I have to say they have some similar functions, but are implemented in totally different approaches and used in no situations in common at all.

[2020-09-07 10:47] odashi commented on #26
Yes I think so, because LaTeX math is just a markup for printing which is more general than programming languages. It would be great if we have such options, but I guess we need some additional effort, such as:

- Add an ML (!) pipeline to convert LaTeX source to Python. This would be a kind of recent research orientation of transpilers (I have read some papers on ML conferences).
- Defines some r

[2020-09-07 11:06] odashi commented on #25
Hi, thanks to notifying!

Yes I knew your project (which is quite nice 😃 ). I understood that is oriented for scratching math on Jupyter, using Python as a "math language."

This project is in contrast oriented to generate LaTeX from usual Python code which are possibly written already somewhere, with keeping (most) original functionality.

These are developed for different use-cases I guess, but

[2020-09-07 11:13] odashi commented on #23
Yes, the source of the problem is that we do not implement `visit_Assign` yet (because handling multiple statements is not trivial #7 ). I guess we need to put `NotImplementedError` so far.

[2020-09-09 08:46] 1MLightyears commented on #23
I can think of two ways to cover that:
 - treat assigns as inline/macro-like statements, and replace them during handling "return" statement;
 - output multiple lines of latex codes, while each line covers one assign/"return" statement;

Which one do you prefer? Or anyone has better ideas?

------

(to other viewers:)If latexify is going to support multiple statements, the logic is sure going to b

[2020-09-10 06:20] connorferster commented on #25
Thanks! I like Latexify-py, too. I plugged it on a Reddit thread last week.

handcalcs also has a function decorator interface to be used in non-Jupyter environments. I think the key difference is that Latexify-py is more focussed on theoretically representing the whole body of a function symbolically whereas handcalcs is focussed primarily on tracing computation by a) only rendering the happy pat

[2020-09-11 12:47] odashi commented on #25
Yeah that's the point!

I also guess we can possibly have some cooperation on similar functionalities. I am roughly thinking of separating LaTeX code generator and its printer on Jupyter from the current AST parser to increase portability. It may be worthy for other tools relying on LaTeX too. (ironically it may increase LOCs from 200 🙃 )

[2020-09-30 11:47] shivam-kotwalia opened #30 "Limits in Summations"
Hello Team - thanks for this wonderful package, I was wondering how do we put a limit on summation.
![image](https://user-images.githubusercontent.com/14539580/94681234-b5ee0f80-0340-11eb-9ec7-166d8b4eb6d2.png)

Thanks in advance :)

[2020-10-06 10:16] odashi commented on #30
It is not supported for now. I guess some special treatment is needed for analyzing `sum()`.

E.g., the following expression:

[code]

would represent your case, though it needs a deeper traverse over AST.

Yes it is doable, please wait a while to discuss it internally (or your PR is also welcome!)

[2020-10-08 04:45] ryosuketc opened #31 "Underscores in function names conflict with LaTeX and shown as subscripts"
Underscores in function names conflict with LaTeX and thus it is represented as subscript in LaTeX.

![image](https://user-images.githubusercontent.com/43229670/95415851-54472a00-096c-11eb-8e86-c519f61d90a9.png)

In Jupyter Notebook:
[code]

[2020-10-09 08:56] odashi commented on #31
Yeah the underscores in identifiers should be escaped normally, but in some few cases they are worthy for special treatment (as #6 discussed).

[2020-12-04 04:59] 1MLightyears commented on #31
It looks like only "_" the underline is the only character that has the problem
See if I could fix it 🤔

[2021-04-19 07:49] liudonghua123 commented on #26
If this feature is available, a lot of students, teachers, researchers would embrace python, especially `latexify`.

Looking forward to this nice feature.

Maybe `compile`/`exec` used to implement it.

[code]

[2022-09-29 07:50] rampallishyam opened #37 "ERROR: Could not find a version that satisfies the requirement latexify-py (from versions: none)"
I am using Windows 11 and I have python 3.9.11 installed on my laptop. I for this error when I used the code `pip install latexify-py`
Please help.

[2022-09-29 20:28] imflash217 opened #38 "Support for Numpy or PyTorch or TF"
Hi,
Very nice tool. Thanks a lot. I was just wondering if there will be any support for libraries like NumPy, PyTorch or TensorFlow?

[2022-10-03 00:04] odashi opened #41 "I'm back now"
Hi, I haven't been working in this repository for a long time, but according to the situation that the repository is getting more audience, I guessed I need to take certain time for this repository. I will work for remaining issues/PRs in this/next week.

[2022-10-04 02:06] #31 closed

[2022-10-04 12:17] Kovelja009 opened #43 "Can't install using command `pip install latexify-py`"
[code]

[2022-10-04 12:28] Kovelja009 commented on #43
When I tried the same command in `Conda (base) environment` which uses `Python 3.8.8` it worked

[2022-10-05 02:56] wiljav commented on #43
Hi,
You're getting this error because pip still using the older version of this package, version 0.0.7.
You could install the latest one from from this repo by downloading, unzipping the file, then in the command line go to the unzipped file directory, and type:
[code]
I hope this helps!

[2022-10-05 11:12] Kovelja009 commented on #43
Thanks, it works now!

[2022-10-05 11:12] #43 closed

[2022-10-05 11:52] zhangzaixuan commented on #37
I need it,but I am on a version with 3.9,it's so bad

[2022-10-05 14:20] pedrohba1 opened #45 "Support for nested functions"
![Screenshot from 2022-10-05 11-18-55](https://user-images.githubusercontent.com/39497156/194083689-68fe3dbf-66cf-48b0-8fc6-60c09782db90.png)

In the image above, I have a function that I would like to represent using latexify.

I think the usage in code would be something as follows:

[code]

It doesn't work out of the box in latexify. How can it be accomplished?

[2022-10-07 03:13] alecglen opened #46 "Support for nested functions"
As an example use case, I have a function that takes in a dataset and returns a closure based on that dataset.
[code]

I would love to be able to apply the decorator to the nested function so that later in my experiment I can display a set of different Normalizers in LaTeX. However, currently adding the decorator to the nested function results in the following error:
[code]

[2022-10-07 08:56] odashi commented on #46
Thanks for reporting the issue!

The cause of this is that all lines of the inner function have extra indentation. I think `dedent`-ing the obtained source before parsing may solve the problem.

<img width="413" src="https://user-images.githubusercontent.com/1023695/194513943-5c6e5ebd-4fb8-4ca8-846f-d4c1e52dc2fa.png">

[2022-10-09 22:51] #46 closed

[2022-10-09 22:54] odashi commented on #37
Now the released version (v0.1.1) supports versions up to v3.10.

[2022-10-09 22:54] #37 closed

[2022-10-09 22:54] #30 closed

[2022-10-10 06:12] hirwa-nshuti opened #48 "Setting one directory for all test scripts"
I would like to suggest that you can make one directory outside the source code directory to hold all testing scripts this might be helpful even when the codebase grows. If this is acceptable I am open to helping restructure it.
Thanks:)

[2022-10-10 23:25] odashi commented on #48
@hirwa-nshuti Hi, thanks for proposing this issue.

Several days ago, I restructured the repository to:

- Put all unit tests beside the source, and
- Put other tests to `src/integration_tests`

I think this is practical to find corresponding unit tests easily, and allows us to efficiently organize the whole repository (e.g., if we realized some necessity of further restructuring, we need to take

[2022-10-11 00:22] alecglen commented on #46
Thank you for the quick turnaround! When do you expect to release v0.2?

[2022-10-11 02:20] hirwa-nshuti commented on #48
Makes sense thanks:)

[2022-10-11 02:20] #48 closed

[2022-10-11 04:58] odashi commented on #46
Yes, if you want to try it out soon, please install the trunk directly or apply the same changes.

[2022-10-13 00:13] odashi commented on #38
I think there are several levels to support NumPy-like libraries:

1. Support function signatures
2. Support array visualization

A recent change #49 adds support for several functions in NumPy.
I'm also thinking of whether it is good to provide some support for array visualization too, but it is not trivial and sometimes we couldn't get shape information before running the function.

[2022-10-13 23:49] alecglen commented on #46
Fair, thanks again!

As a followup, part of my goal in the example above was for the latex equation to display the literal values for `df.mean()` and `df.std()`. In hindsight, I see now why that doesn't work naturally and that it might not even be possible.

Figured it doesn't hurt to ask anyway, though... Is there any way to coerce latexify into computing certain values so their literal value sho

[2022-10-14 08:06] odashi commented on #46
@alecglen I will create another issue, thanks!

[2022-10-14 08:31] odashi opened #50 "Support substitutions of names"
According to: https://github.com/google/latexify_py/issues/46#issuecomment-1278292646

Currently, latexify uses only the syntax information of the functions wrapped by `with_latex` and the decorator does not know any bound values outside the function. Some people want to substitute identifiers in the function into its actual value. For example:

[code]

In both cases the user may want to see [ $di

[2022-10-17 12:55] MAKMED1337 opened #52 "support indicies"
Add suppot for indicies
[code]

to be something like `\mathrm{solve}(a) \triangleq a_0`

[2022-10-18 13:25] pedrohba1 opened #53 "Add numpy matrix operations support"
It would be interesting to implement some matrix operations such as:
[code]

[2022-10-18 15:58] cccntu commented on #50
I think I need something like this, but for a simpler reason:

[code]

[2022-10-18 16:25] odashi commented on #50
@cccntu

Yes I intended it: the `substitutions` argument takes the exact representation of a specific identifier.

This requires several consideration as function names are treated separately. Would providing another argument for this purpose be better?

[code]

[2022-10-18 16:33] odashi commented on #52
I considered about some caveats by introducing this. I think there is not so large problem, except we got slices: `a[x:y]`. I also think we can simply raise errors when such input is given.

[2022-10-18 18:06] MAKMED1337 commented on #52
What to do with a[1][2] ?

[2022-10-18 19:12] MAKMED1337 commented on #52
I think `a_1_2` will be wrong because it's looks like a[12]
maybe `a_{1,2}` or `a_{1\,2}`

[2022-10-19 00:49] odashi commented on #52
@MAKMED1337 Ah thanks, your suggestion seems reasonable. It requires some tricky parsing over the syntax tree though: if we found a node chain of indexing, we need to convert it to a single subscript.

Furthermore we might also want some setting to keep the bracket notation as-is: $x[a][b]$ since it is also used frequently.

[2022-10-19 11:53] cccntu commented on #50
That's ok. It would be great if the function names can be substituted, too.
[code]

Although maybe it's easier to just do this:

[code]

[2022-10-19 15:27] MAKMED1337 opened #54 "Ability to get latex without getting function name"
[code]
to be `5a`, not `\mathrm{solve}(a) \triangleq 5a`

i think it's better to create another function not parameter or set by default

[2022-10-20 06:52] odashi commented on #54
Using `latexify.expression` or something similar would be good. I also guess that the current function names `with_latex` and `get_latex` is weird a little; possibly we can redefine it as `latexify.equation` (but we also need to keep the current functions for a while, for backward compatibility).

[2022-10-20 16:01] odashi commented on #50
@cccntu Great. Actually we are using the modified version of it (in `node_visitor_base.py` in this repository) because of some demands of the earlier implementation, but I think it is not so sophisticated nowadays. It may be good opportunity to rethink the overall parsing strategy of this library.

[2022-10-20 22:47] Takashiidobe opened #56 "Supporting Set operations and comprehensions"
It would be nice to support some more set operations and comprehensions, since they're pretty easy to use in python. (I assume this is going to be fairly difficult though, since it requires a fair amount of information from the python ast)

For example, this code:

[code]

Returns this currently:

[code]

It would be nice to show something like this:

[code]
$$ \displaystyle \mathrm{solve}() \tria

[2022-10-21 00:00] odashi commented on #56
Tahnks! I think this is reasonable proposal.

To clarify, this includes 3 distinct features as follows:

- Support comprehension: `{f(x) for x in X}` -> $\\{f(x) | x \in X\\}$
- Support binary operators on sets: `x | y` -> $x \cup y$
- Support affiliation operators: `x in y` -> $x \in y$

We need to take care about the second case because set operations shares the same syntax with bit operations a

[2022-10-21 04:23] odashi opened #57 "Generates algorithmic environment"
I have worked recently to investigate if we could generate the LaTeX algorithm environment from the function.
Actually it can work like this:

<img width="353" alt="FfJj0MyVEAAe01M" src="https://user-images.githubusercontent.com/1023695/197110762-b71c1d0a-6bcd-4f95-b21f-15ec982d8ed4.png">

I think this feature is really useful for almost arbitrary functions.

[2022-10-21 04:23] odashi commented on #57
There are several caveats.

Specifically, IPython supports only MathJax, meaning that it accepts only a single expression. To output more complicated LaTeX document, we need to complie the source directly, and convert the generated file to an image that IPython accepts.

In the work above, I used pdflatex and pdf2image. They requires to install external libraries, e.g., texlive with the algorithmi

[2022-10-21 04:29] odashi commented on #57
An option to implement it for IPython is to use immediate newline in the single expression with appropriate manual spacing, but it requires some hacks. I think it would be better to apply external commands to generate the compiled image.

[2022-10-21 06:25] odashi commented on #7
Close it for now. Composition of multiple statements is supported by #50

[2022-10-21 06:25] #7 closed

[2022-10-21 06:28] odashi commented on #26
This is a general discussion and not applicable for the current purpose of this library (python -> latex). Close it for now.

[2022-10-21 06:28] #26 closed

[2022-10-21 06:29] odashi commented on #23
Solved by #51

[2022-10-21 06:29] #23 closed

[2022-10-21 06:30] odashi commented on #25
This is a general discussion, would like to close it for now.

[2022-10-21 06:30] #25 closed

[2022-10-21 06:30] #41 closed

[2022-10-21 14:12] cccntu commented on #50
@odashi
I'm not sure what you have in mind.
But it's very simple to integrate my code to this repo. It also works with functionDef. Would you like me to create a PR?

[code]

[2022-10-21 16:18] odashi commented on #50
@cccntu Ah sorry, I understand now that you meant to modify the tree with a transformer before converting the tree to LaTeX.

I think your example modifies *every* value that matches a specific entry in `identifiers`. E.g., if we give `identifiers={"x", "y"}` and the function has a literal `"x"`, it is also converted.

I think we can follow the standard usage of NodeTransformer to constrain conver

[2022-10-21 16:47] odashi commented on #50
I think this is the complete version that supports both FunctionDef and Name.
[code]

[2022-10-21 16:53] odashi commented on #50
Test:
[code]

All names are replaced appropriately:
[code]

[2022-10-21 17:09] odashi commented on #50
Btw, I like the concept of applying conversion rules between `ast.parse` and `LatexifyVisitor`. We can introduce arbitrary number of conversion rules as follows:

[code]

This is really good outlook (though calculation cost increases), and we can also implement some existing rules as a transformer.

[2022-10-24 02:53] Vector-Cross opened #63 "How to use latexify for scipy.special.expit ?"
I want to latexify scipy.special.expit In jupyter lab.
What should I do?
![image](https://user-images.githubusercontent.com/36829977/197439466-d1780e8e-5fe1-46a3-a9e8-7b5fd4e22ea9.png)
[code]

[2022-10-24 04:24] odashi commented on #63
@Vector-Cross Thanks for posting the issue.

We need more information about the expected behavior. I think this function could be expressed as different forms:

- $\sigma(x)$
- $\frac{1}{1 + \exp(-x)}$
- $\mathrm{expit}(x)$

either choice would be correct according to the situation.

[2022-10-24 12:22] cccntu commented on #50
Nice catch. Yeah, writing out all the rules seems better.

Btw, I tried to see if there is a way to replace non-name stuff, like `torch.sqrt` -> `sqrt`. But `Attribute` is hard to replace, doing sub-tree matching feels too complicated.
Another easier option is to do `str.replace` after `inspect.getsource`, we can make this a separate option so we only do it when user ask for it.
Or we can annotati

[2022-10-24 13:30] odashi commented on #50
For now we can abandon this support. Only replacing long `Name`s is still useful.

This may break parsing very frequently; I think we don't need to provide such option.

This is very interesting idea, but it seems to require changing the syntax of the target function by users themselves. Since the significant advantage of this library is generating LaTeX without modifying the original function, it

[2022-10-25 04:02] Vector-Cross commented on #63
Thanks for reply.
I wonder if there is a method that can be expressed in the second form.
Otherwise I have to redefinition sigmoid function by myself.

[2022-10-25 05:04] odashi commented on #63
@Vector-Cross Great. At this point we have no options to expand composite functions, but we could provide something (namely `expand_functions` boolean option). It may be useful for other functions, e.g., `hypot` `atan2`. Let me work on this later.

[2022-10-25 05:27] #50 closed

[2022-10-25 06:23] #63 closed

[2022-10-25 08:01] odashi opened #65 "Support expanding some functions"
Follows #63

It is good to provide a `expand_functions` boolean option to control whether some composite functions are expanded or not, e.g.:

- `hypot(x, y)` -> $\sqrt{x^2 + y^2}$
- `atan2(y, x)` -> $\arctan{\frac{y}{x}}$
- `expit(x)` -> $\frac{1}{1+\exp{(-x)}}$

[2022-10-25 09:53] MAKMED1337 commented on #65
Is it better `expit(x)` to be $\frac{1}{1+e^{-x}}$ ?

[2022-10-25 10:49] odashi commented on #65
@MAKMED1337 Not sure, but it looks there should be another option to control the behavior around $\exp$ .

[2022-10-25 17:42] odashi opened #66 "Config class"
Follows #65

It may be good if we provide a config class integrating every setting, which are currently passed directly to `with_latex`:

[code]

[2022-10-25 17:46] odashi commented on #66
possible logic:

[code]

[2022-10-26 22:09] luisArandas commented on #57
Can this, if implemented, be added to the `ipynb` example?

[2022-10-27 01:43] odashi commented on #57
@luisArandas Yes, the poc works on Jupyter and/or Colab and we can add examples.

[2022-10-30 01:45] FywOo02 opened #69 "Lack of equals sign"
I dont know if it is my techniques problem. When I run the sample code on Pycharm and use the converted latex code, there is no equals sign between left hand expression and right hand expression.

![11b89272a66074b52982a8a284fa87f](https://user-images.githubusercontent.com/99452851/198858857-0a50572d-0a01-4db8-9cd8-c91311a206a3.png)

[2022-10-30 06:37] odashi commented on #69
@FywOo02 Thanks for reporting the problem. Could you check the following things:

- What is printed if you run `print(latexify.get_latex(your_function))`. I guess your function may be the one in the example.
- Whether your LaTeX compiler supports `\triangleq` ( $\triangleq$ ) or not.

[2022-10-30 14:13] #52 closed

[2022-10-30 17:50] odashi commented on #69
@FywOo02 Hi, I think the cause of this problem is that your LaTeX script lacks `\usepackage{amssymb}`.

`\triangleq` is a part of the AMS package that is enabled in Jupyter (MathJax) by default. But specifying `amssymb` is required if the generated source is used in your own LaTeX document.

I think this should be treated as a minor bug, and we may need to remove this symbol for compatibility with

[2022-10-31 16:52] odashi commented on #16
This issue is taken by #66 , close for now.

[2022-10-31 16:52] #16 closed

[2022-11-01 10:05] #69 closed

[2022-11-01 10:10] #54 closed

[2022-11-03 18:49] odashi opened #74 "n+1-1 in sum/prod"
Currently the analyzer of `sum` and `prod` does not recognize the reducable addition and subtraction in the `stop` parameter of `range`:

<img width="327" src="https://user-images.githubusercontent.com/1023695/199804885-dd54386f-f5e8-477f-a04e-89c45e898796.png">

It would be good if we could get $n$ rather than $n+1-1$ in most cases. This reduction would be safe because [the operands of `range` mu

[2022-11-03 19:08] odashi commented on #74
Note that in general arithmetic is not associative even if all operands are numbers. For example:

<img width="442" src="https://user-images.githubusercontent.com/1023695/199812204-e9b7b4e4-5b7d-4929-8a5c-a1cc50e48ae7.png">

So this treatment is available only when the function always takes integers.

[2022-11-03 22:34] moringspeaker opened #75 "Some basic questions about this awesome project"
Hi, I accidentally found this project and it spends me quite a few time to basically figure out how this works and I'm still a little confused about it. Can I just simply summarize this Python package as a "decorator" which is used when we are writing a function in Python to generate an extra formula in Latex format?

[2022-11-04 06:36] odashi commented on #75
@moringspeaker
Hi, thanks for asking your question!

First of all, the main branch is a bit different from the released version (v0.1.1). I'd like to explain how it works based on the main branch.

The core functionlity of this library is `latexify.frontend.get_latex()`. This function works as a "compiler" from Python functions to LaTeX with following steps:

1. Obtains the source code of the func

[2022-11-04 15:29] moringspeaker commented on #75
Thanks for your patient explaination! I spent some time to read this awesome project's source code and I wonder if you guys plan to support some more complicated formats like a matrix or something?  It's always annoyed for me to write my own code to transfer a Numpy matrix into Latex format.

[2022-11-04 16:45] odashi commented on #75
Yeah sometimes it is requested, and particularly for arrays, I am still thinking of how/what range of expressions should be supported by this library (e.g., 2x2 arrays are small enough to compile, but large arrays and/or arrays with more than 2 dimensions are basically not suitable for LaTeX).

It would be nice to have a specific issue for arrays. Let me create it and continue discussion.

[2022-11-04 17:00] odashi opened #78 "NDArray support"
Sometimes users want to support NDArrays in this library, e.g., `np.array([[a, b], [c, d]])` to

$$\left( \begin{array}{cc}a&b \\\\ c&d\end{array} \right)$$

This is definitely useful, but often it is not possible to compile:

- Large arrays.
- Arrays with more than 2 dimensions.

I think we could start implementing it with reasonable restrictions (e.g., only NDArrays with <= 2 dimensions with sma

[2022-11-07 23:35] odashi commented on #57
I guess composing everything into `array` would be another option to show the result on Jupyter. Maybe we can introduce multiple codegen (one for algorithmic, one for jupyter).

<img width="651" alt="FgdCA52aMAA5ZQX" src="https://user-images.githubusercontent.com/1023695/200437862-3851774e-c991-4380-adbb-622a981858d4.png">

[2022-11-08 13:01] chunibyo-wly commented on #66
working on this

[2022-11-08 18:23] odashi commented on #75
Delegated to #78.

[2022-11-08 18:23] #75 closed

[2022-11-08 18:24] odashi commented on #66
@chunibyo-wly
Thanks for working on this. Since this feature should be carefully designed, could you provide your idea about the implementation before throwing PRs?

[2022-11-08 18:27] odashi commented on #56
I will work on this issue this week. As for comprehension, we can support it similarly to that of `sum/prod` operations. Since binary/set operations are not trivial to distinguish, it may be good to provide a flag to switch these operators by users.

[2022-11-09 05:27] odashi opened #81 "Package name trimming as a NodeTransformer"
Prefixes of well-known packages are trimmed by the following code block in `function_codegen.py`

https://github.com/google/latexify_py/blob/071a12d06ae67c578f92f973945c0067b3f4976d/src/latexify/codegen/function_codegen.py#L127-L132

As I noted in the TODO, this can be implemented as a NodeTransformer preprocessor. This change would make the behavior more flexible.

For example, the AST of `math.s

[2022-11-09 06:58] odashi opened #82 "Fine-grained name processing"
There are still some issues around name processing:

<img width="469" src="https://user-images.githubusercontent.com/1023695/200751324-1f0285cf-dc5a-4efa-b829-2545b1669c7a.png">

In the current implementation, only the function names are processed separately, but I think that that behavior is generally preferred for all identifiers, and it should be applied *by default*.

In some specific cases, i

[2022-11-09 15:56] chunibyo-wly commented on #66
hello, thanks for your reply, could you please give me some time to do some tests?
I will give you answer later

[2022-11-09 19:40] Casper-Guo commented on #82
The user should additionally be able to specify a list of variable names for which underscores are processed for each function.

Or to make the feature easier to use, a list of variable names / variable prefixes for which underscores are processed can be specified at the beginning of the file

[2022-11-09 19:51] Casper-Guo commented on #78
For 2D arrays, limiting the maximum size to `10 x 10` is perhaps a reasonable starting point. Larger arrays, especially if they are dense, are not great as visual aids even if they are rendered into LaTex.

[2022-11-09 21:32] Casper-Guo commented on #74
Implemented here:

https://github.com/google/latexify_py/blob/c6c291d3bcce28a269d175be384ab955ac2100c8/src/latexify/codegen/function_codegen.py#L335-L354

Current behavior is caused by not being able to convert `n+1` to a numeric type.

The `n+1` case can perhaps be treated as a special case since it is the most common but a more general solution might be preferred. Since reduction is only needed

[2022-11-09 23:11] moringspeaker commented on #78
I think it's a great idea to constraint the maximum size of matrices. I won't use matrix larger than 10 * 10 in Latex.

[2022-11-10 01:08] odashi commented on #66
@chunibyo-wly Sure. I targeted this feature on the release after the next (0.3) so we don't need to rush at this point.

[2022-11-10 01:12] odashi commented on #82
@Casper-Guo Yeah it would be good, but it may become a complicated config, and we need to focus on consolidating the name processing first (using the same processor for all function names, arguments, and identifiers in the body)

[2022-11-10 01:19] odashi commented on #74
@Casper-Guo I think the code above is an obsolete permalink. In the current implementation, FunctionCodegen introduced an additional analyzer that obtains subtree of range:

https://github.com/google/latexify_py/blob/071a12d06ae67c578f92f973945c0067b3f4976d/src/latexify/codegen/function_codegen.py#L334

We can implement the specific process if we detected `range_info.start` is BinOp and the operat

[2022-11-10 01:22] odashi commented on #78
@Casper-Guo Yes I think it is reasonable. maybe we restrict to show only $(R, 1)$, $(1, C)$ and $(R, C)$ arrays with size $R \le R_{max}$ and $C \le C{max}$, where $R_{max}$ and $C_{max}$ is a config defaulted by some number (10 for example)

[2022-11-10 01:31] odashi opened #83 "Showing some special arrays"
Ref: #78

We can also support showing some special array functions as a fixed, well-known form. For example, `ndarray.zeros((2, 3))` --> $\mathbf{0}$ or $\mathbf{0}^{2 \times 3}$

[2022-11-10 02:10] Casper-Guo commented on #74
We would like to work on this. Can you please assign me and @lakeblair.

[2022-11-10 02:16] Casper-Guo commented on #83
Similar:

`np.eye(N, M=None, k=0)` --> $I_N$

`np.identity(N)` --> $I_N$

[2022-11-10 03:38] odashi commented on #74
@Casper-Guo Thanks for taking your effort! Assigned to you anyway since you are the only person who attended this discussion.

[2022-11-10 17:50] Casper-Guo commented on #78
What should the configuration interface look like? I feel this should be file level rather than function level.

@lakeblair

[2022-11-10 19:19] odashi commented on #78
@Casper-Guo We can start with hard-coding the constraint into the code until we decided the structure of config files.

[2022-11-12 05:30] chunibyo-wly commented on #66
1. I think we could use bitwise and dynamic method creation to do this
[code]
and constants is look like this:
[code]
2. change frontend `get_latex` and reserved original parameter for user convenience
[code]

[2022-11-12 12:19] odashi commented on #66
@chunibyo-wly Thanks! I think we don't need bitset here and it is enough to store individual members for all boolean configs. We basically don't need to care about the efficiency of this class because parsing and codegen are much (maybe a hundred of times) slower.

[2022-11-12 12:30] maifeeulasad opened #86 "tf-keras functions doesn't work"
I was trying to generate latex quickly from my python code, but it didn't return the output as expected.

Code:
[code]
![latexify_py doesn't work with tensorflow or keras](https://user-images.githubusercontent.com/29339330/201473963-2d47c935-ea1d-4a29-b682-741f9d7fb30f.png)

[2022-11-12 13:05] odashi commented on #66
I think we can simply define the config class as a dataclass with only nullable members and `merge` method that generates a new Config while maintaining the original config unchanged:

[code]

then define the defaults with non-null values:
[code]

In get_latex, we can implement it as follows:
[code]

[2022-11-12 13:12] chunibyo-wly commented on #66
thanks for your advice, I will write code based on your suggestions later

[2022-11-12 13:39] odashi commented on #86
@maifeeulasad Thanks for reporting the issue!

Since the current implementation is different from the released version(v0.1.1), I also tried the function above using the main:

<img width="673" alt="無題" src="https://user-images.githubusercontent.com/1023695/201476131-3e814e78-5306-4c56-a86d-8d9bc1aff731.png">

I guess some problems are already fixed (in main), but following things are still remain

[2022-11-12 13:46] odashi commented on #86
I also think automatically collecting imported modules through `globals()` could work. Let me make another issue for it.

[2022-11-12 13:48] odashi opened #87 "Custom list of prefixes that should be trimmed"
Ref: #86

Currently we hard-coded function prefixes to be trimmed as follows:

https://github.com/google/latexify_py/blob/86e612963ee4c8d92c6812f99dd75e2309bc9735/src/latexify/constants.py#L5

It would be good if the users can set it manually.

[2022-11-12 14:32] odashi opened #88 "Automatically detecting imported libraries"
Ref: #86

Sometimes users import libraries with custom names, and the current implementation of latexify does not recognize it without passing the custom config (this is not the current feature: tracked by #87)

We can anyway list up the all imported modules through `globals()`, and check if they contains some well known libraries. For example, if the user invoked `import numpy as np`, `globals()[

[2022-11-12 14:46] odashi opened #89 "Wrong behavior around multiplication"
The current implementation converts `a * b` into $ab$. This only works if the variables have only 1 character and doesn't generate a correct syntax for other cases:

* Long names: `abc * def` --> $abcdef$, which is hard to distinguish from other combination of variables.
* Unary operators: `x * -y` --> $x - y$, which is definitely wrong.

These cases require explicit multiply operator ( $\cdot$ or

[2022-11-12 14:49] odashi commented on #87
This should be an additional features of #81.

[2022-11-12 17:49] maifeeulasad commented on #86
Awesome. Eagerly waiting for the updated version.

*Will use `main` branch of this repo to generate latex for now.*

[2022-11-12 23:04] odashi opened #90 "Add mathopen and mathclose to parentheses"
Since `\left(` and `\right)` are not correctly treated as brackets, they accidentally insert additional whitespaces around the symbols. It would be better to replace all `\left(` to `\mathopen{}\left(` and `\right)` to `\mathclose{}\right)`:

<img width="474" alt="無題" src="https://user-images.githubusercontent.com/1023695/201497900-8eb9dc42-c3d6-43ae-bad1-336803197e79.png">

[2022-11-12 23:11] odashi opened #91 "Support IfExp"
Support the expression syntax `a if x else b`. Since we have already a codegen for if-statements, `IfExp` should generate the same LaTeX.

<img width="398" alt="無題" src="https://user-images.githubusercontent.com/1023695/201498093-813fc9a7-1d30-4796-8539-812486c0d3bc.png">

[2022-11-12 23:54] odashi opened #93 "Support Match"
It would be great if we support the `match` clause added in Python 3.10, but the entire syntax is somewhat complex.

https://docs.python.org/3/library/ast.html#pattern-matching

[2022-11-13 21:18] wd60622 opened #100 "Support guard clauses"
Running in the colab notebook, noticed guard clauses are not supported in the cell rendering. Thought they are common enough, to get support

[code]

version: 0.2.0b2

[2022-11-13 23:06] odashi commented on #100
@wd60622
Thanks for raising the issue!
I think we can (relatively easily) support any functions in which:

- All guard clauses have only a return statement or another if clause, and
- All guard clauses are placed after any other statements, i.e., guard clauses can be converted to a pair of if-else.

Additionally, we can support any functions with only if clauses and assignments when `reduce_assign

[2022-11-14 01:21] wd60622 commented on #100
Awesome.
Yeah, It doesn't seem too hard of an adaption. Guessing without a guard, the `orelse` attribute of the `ast.If` will be the rest of the `body` in the case with a guard.

[2022-11-14 19:51] fccoelho opened #104 "Breaking on function with docstring"
I am getting the error below for the following function:
[code]

[code]

If I remove the docstring, it works as expected

[2022-11-14 20:52] fccoelho opened #105 "Support for methods"
## Description

I would like to be able to latexify class(instance) methods such as this simple example:
[code]
this simple example does not work on 0.2.0b2

[2022-11-14 21:04] odashi commented on #105
@fccoelho Thanks!
Would the expected output be: $\mathrm{fun}(a, b) = a + b$, or something else?

[2022-11-14 21:25] odashi commented on #105
I think the code above does show something:

<img width="586" alt="スクリーンショット 2022-11-15 062403" src="https://user-images.githubusercontent.com/1023695/201768578-389e766d-df5d-4ff8-a505-a2b210ef30ae.png">

The first case is correct, while the second/third cases should be `fun(a, b)` according to its actual signature

[2022-11-14 21:38] odashi commented on #56
All are now supported. Since it is hard to disambiguate set/bit operations, it is now controlled by a flag.

[2022-11-14 21:38] #56 closed

[2022-11-14 21:42] fccoelho commented on #105
I guess I was just missing the use of the `display` function. Thanks @odashi

[2022-11-14 22:01] odashi commented on #105
@fccoelho I'd appreciate it if I could help!

Btw, supporting bound functions (2nd/3rd cases of above) is not easy because latexify couldn't know how the wrapped functions are used *after wrapping them*. I'd close this issue for now, and would come back here when this issue gets more attention.

[2022-11-14 22:01] #105 closed

[2022-11-15 04:55] ontocord opened #106 "underscores in variable names not displaying correctly"
@latexify.function
def solve(a_a, b, c):
  return (-b + math.sqrt(b**2 - 4*a_a*c)) / (2*a_a)

solve  # Display the MathJax.

Will produce the variable a, with the next a as a subscript, instead of displaying the underscore.

[2022-11-15 05:27] ontocord opened #107 "latexify form a function defined in an exec will result in OSError"
exec("""
def solve(a, b, c):
  return (-b + math.sqrt(b**2 - 4*a*c)) / (2*a)
""")

lat = latexify.get_latex(solve)

Will result in: OSError: could not extract source code

[2022-11-15 05:38] ontocord opened #108 "Add ability to generate latex from string that has the function definition"
Maybe an option to get_latex where you can pass in a string instead:

[code]

[2022-11-15 05:51] odashi commented on #106
@ontocord Thanks for reporting! This problem is currently tracked by #82.

[2022-11-15 05:51] #106 closed

[2022-11-15 06:00] odashi commented on #108
@ontocord Yes, this kind of functionality is definitely useful for (especially) other tools that wants to pretty-print Python pseudo-code as LaTeX. And it can be used in `get_latex` too.

I have considered to provide `latexify.compile(str)` several days ago, which provides the same functionality with above. Actually my local environment has some implementations. Let me take some time to polish the

[2022-11-15 06:25] odashi commented on #107
I don't think this is easily fixable as the dynamic object doesn't remember its original source.

It may require decompiling the underlying bytecodes into some corresponding source or AST. Since bytecodes lack the original representation of the source code, the result could be distant from the original even if we could restore it.

Maybe the possible workaround is to provide a functionality that t

[2022-11-15 06:28] odashi commented on #107
I will keep this issue opened for a while to gather some ideas.

[2022-11-15 12:50] kshxtij opened #110 "Installing Locally"
## Environment

If you used latexify in your own environment, fill at least the following items.
Feel free to add other items if you think they are useful.

* OS: macOS Monterey V 12.3
* Python: Python 3.10.8
* Package manager: pip 22.3.1
* Latexify version: Latest clone from github

## Description

I was unable to install the package locally using `python -m pip install -e ".[dev]"` to work on so

[2022-11-15 17:57] odashi commented on #86
FYI: v0.2.0 has been released. I'd close this issue, but feel free to reopen it if you have more questions.

[2022-11-15 17:57] #86 closed

[2022-11-15 17:58] odashi commented on #38
Some features are taken over by other issues. Close this issue for now.

[2022-11-15 17:58] #38 closed

[2022-11-15 17:59] odashi commented on #53
Some features are taken over by other issues. Closes this issue for now.

[2022-11-15 17:59] #53 closed

[2022-11-15 22:07] Eric-Mendes commented on #81
Just found out about this lib and was playing around with it. The trimming on functions amazed me, but I noticed that package constants don't have the prefixes trimmed. Is this on purpose? Should I open an issue for it?

This is not a problem to my current work, but I thought it was a nice observation to make here.

Example:
![image](https://user-images.githubusercontent.com/42689328/202034573-881

[2022-11-15 22:25] soosub commented on #104
I encountered the same issue and removing the docstring resolved it. Thanks for raising the issue @fccoelho! Indeed, it would be nice to keep docstrings *and* latexify functionality all at once😌

PS cheers for maintaining this package @odashi et al., it's awesome!

[2022-11-15 23:03] odashi commented on #81
@Eric-Mendes Thanks!

Ty first thought about the strategy is as follows:

1. If the parser found that an identifier involves some prefix (in your case, `np`), the parser investigates whether the prefix is pointing to a module or not.
2. If it is a module, try to obtain the real name of the module (`np` -> `numpy`)
3. Checks if the real module name is listed in the pre-defined list (e.g., `["math",

[2022-11-15 23:22] Eric-Mendes commented on #81
It's been a while since my last compilers class in college, but can I try to work on this, @odashi?

[2022-11-15 23:37] odashi commented on #82
I guess this feature is really wanted by many users as far as I checked reactions in the social media. I would take my time to improve it.

[2022-11-15 23:55] Casper-Guo commented on #104
cc:@lakeblair

Maybe you can investigate this issue

[2022-11-16 00:44] Eric-Mendes commented on #81
Just tried it, @odashi 😄
I hope I'm on the right track.

[2022-11-16 03:50] LakeBlair commented on #104
@odashi Hi! I can take a look at this issue and see if I can find a solution to it.

[2022-11-16 04:25] Casper-Guo opened #114 "Multiplication needs extra processing to reorder coefficient and variable"
## Environment
If you used latexify in your own environment, fill at least the following items.
Feel free to add other items if you think they are useful.

* OS: Windows 10
* Python: 3.8
* Package manager: pip 22.2.1
* Latexify version: current dev branch

## Description

The current implementation of `visit_BinOp` doesn't change the ordering of the operands. This is desirable or acceptable for mo

[2022-11-16 10:43] ghosthamlet commented on #26
Maybe closing now,
galactica model Can translate Math formula to plain english,
https://galactica.org/explore/ (See `Scientific from Scratch` section),
and generate code of a function from plain english have many options: copilot, codex.

[2022-11-16 15:49] kshxtij commented on #110
Resolved

[2022-11-16 15:49] #110 closed

[2022-11-16 16:19] kshxtij commented on #78
Is there a specific way, you'd suggest I implement this?

[2022-11-16 17:09] Casper-Guo commented on #78
`np.eye`, `np.ones` and other matrix functions will probably be dealt with separately. I think the biggest issue with your current implementation is that it doesn’t generalize to 1D arrays / vectors

[2022-11-16 17:15] Casper-Guo commented on #83
I will do this once i figure out CI/CD on my other PR.

Once NDArray support is done, we can do the same for `np.transpose()` and `np.inv()` etc. as well

[2022-11-16 20:20] odashi commented on #26
Great. I have also tried some LM models learnt form natural language and code several months ago (related to my research work), and found that they possibly could translate between them. And now we could find some services based on similar techniques. Of course they are definitely ML models: the result is not entirely guaranteed, but I guessed it is very promising.

On the other hand, latexify is

[2022-11-16 22:20] #90 closed

[2022-11-17 02:10] odashi opened #119 "Drop Python 3.7 support"
## Description

This is the reminder issue to drop Python 3.7 support from this library.
Since 3.7 is alive until 2023-06-27, we need to process this issue after such date.

3.7 involves many syntax incompatibility with newer versions. It is sometimes frustrating to add/maintain the feature that requires a context switch with `sys.version_info.minor`.

## Additional context

The EOL timeline: http

[2022-11-17 23:26] odashi commented on #104
Hi @LakeBlair , feel free to propose a pull request for this issue.

[2022-11-20 00:30] ZibingZhang commented on #114
What about in more complicated cases?
[code]

It's probably desirable to bubble constant numbers to the front of each product expression somehow, e.g. `2 * x * 4 + a * 3 -> 2 * 4 * x + 3 * a`.

[2022-11-20 04:38] odashi commented on #114
I think we need to handle #89 before this change. Adding `\cdot` ( $\cdot$ ) should be the default behavior of the multiplication, and in several cases we can avoid the symbol.

[2022-11-20 04:44] odashi commented on #89
Anyway, I will handle this issue today.

[2022-11-20 10:29] odashi commented on #104
Resolved by #126.

[2022-11-20 10:29] #104 closed

[2022-11-20 10:58] ZibingZhang commented on #82
Do you have a link to the post by any chance? Pretty sure I found this repo off of social media, but I can't seem to find the original post. Would be interesting to see other people's feedback and thoughts.

[2022-11-20 11:05] odashi commented on #82
@ZibingZhang Sorry It's better not to share it here because the discussion I discovered involved a little offensive remarks.
Only I could say here is that some people hated the current behavior, and I really agreed it.

[2022-11-20 11:19] odashi commented on #82
note: "many" is just my opinion, not guaranteed by any quantitive perspectives.

[2022-11-20 11:46] odashi commented on #89
Anyway some simple heuristic can be applied without waiting for #82

[2022-11-21 06:44] Freed-Wu opened #129 "latexify.function doesn't work with ptpython"
## Environment

If you used latexify on the browser, fill the following items.

* Browser:
* Frontend:

If you used latexify in your own environment, fill at least the following items.
Feel free to add other items if you think they are useful.

* OS: linux 6.0.8-arch1-1
* Python: 3.10.8
* Package manager: pacman
* Latexify version: 0.2.0

## Description

Describe the details of the issue. Feel fre

[2022-11-21 07:30] odashi commented on #129
@Freed-Wu Hi, it looks you tried to invoke `latexify.get_latex` with an already wrapped function by `latexify.function`.

Please try either 1. or 2. as follows:

1. `str(solve)` instead of `latexify.get_latex(solve)`.
2. Remove the `@latexify.function` wrapper, then `latexify.get_latex(solve)`.

[2022-11-21 07:37] odashi commented on #129
And I noticed that maybe the library need to return the argument itself if it is already wrapped. Thanks for reporting!

[2022-11-21 07:42] Freed-Wu commented on #129
Nothing changes.

[code]

[2022-11-21 08:46] odashi commented on #129
@Freed-Wu What kind of CLI are you using? If the comment above does not solve the problem, it may be the problem related to the console you are using, and I need to know more about your environment.

[2022-11-21 08:48] Freed-Wu commented on #129
I use [ptpython](https://github.com/prompt-toolkit/ptpython/). I have tested and found it can work in `python` but not work in `ptpython`

[2022-11-21 08:49] odashi commented on #129
Great, I will check what happens with it.

[2022-11-21 09:05] odashi commented on #129
I tried `ptpython` on my machine. It looks the console hides the original source, or does not store the input code as a source.
[code]

I also tried it on `ipython` to check if there's some related issues, but it still works:
[code]

So it turns that the problem comes from something in `ptpython`. I guess it'd be better to report this behavior to their issue tracker.

[2022-11-21 09:11] Freed-Wu commented on #129
As a compleiton, it can work for ptipython (provided by ptpython).

[2022-11-21 09:14] odashi commented on #129
Great! I also tried it and observed it works.

[code]

[2022-11-21 09:18] #129 closed

[2022-11-21 10:46] ZibingZhang commented on #65
List of methods in `math` that I think we should allow expansion for:

- `exp(x)` -> $e^x$
- `exp2(x)` -> $2^x$
- `expm1(x)` -> $\exp(x) - 1$
- `log1p(x)` -> $\log(1 + x)$
- `pow(x, y)` -> $x^y$
- `atan2(x)` -> $\arctan(y / x)$
- `erf` -> too complicated, also I don't think integrals are supported... yet
- `erfc` -> see above
- `gamma` -> maybe for positive integers? I think it's best to leave alo

[2022-11-21 11:03] odashi commented on #65
I think non-elementary functions (`erf`, `erfc`, `gamma`, `lgamma`) should be avoided from this option. Other candidates looks fine to me.

[2022-11-21 11:06] odashi commented on #65
I also think our current implementation (#125) naturally solves https://github.com/google/latexify_py/issues/65#issuecomment-1290288048 , as users can choose whether `exp` is expanded or not.

[2022-11-21 18:25] ZibingZhang commented on #57
I'd agree with multiple code gen, targeting either Jupyter. I'd be interested in taking a look into algorithmic at some point.

[2022-11-21 23:34] #66 closed

[2022-11-21 23:49] odashi commented on #57
I have some ideas about this.

- First, we can provide the `ExpressionCodegen`, which converts `ast.expr` to LaTeX. I think `ast.expr` is the minimal fragment of AST that we can share the same behavior among different output styles.
- Then, we provide several codegens, such as `FunctionCodegen`, `AlgorithmCodegen`, or something else, to process the whole syntax. They invokes `ExpressionCodegen` in

[2022-11-22 18:12] erica-w-fu commented on #93
Could I get assigned to this issue? I would love to contribute to this repo!

[2022-11-22 19:43] odashi commented on #57
We don't need inheritance (and shouldn't adopt inheritance here IMO) because there's basically no advantage over composition in this case. We could define `ExpressionCodegen` as just a kind of function.

For the first example, I tried to synthesize the following LaTeX environment:
https://www.overleaf.com/learn/latex/Algorithms
(note that there are many options/variants of this environment)

[2022-11-22 19:48] odashi commented on #93
@erica-w-fu Hi, feel free to work on this!
Since the overall syntax around Match is very huge, I'd like to decompose it to small developments (pull requests) mainly for ease of reviewing.

[2022-11-22 22:17] ontocord commented on #108
Thank you @odashi !

[2022-11-22 22:19] ontocord commented on #107
Yes. I figured that the solution was to go straight from str to latex :)

[2022-11-22 22:19] #107 closed

[2022-11-23 08:35] ZibingZhang opened #134 "Support expanding custom functions"
follows https://github.com/google/latexify_py/issues/65

## Description

We already have a `expand_functions: set[str] | None` in the config which the user can use to specific a set of predetermined function expansions. It would be nice for users to somehow register their own function expansions.

## Ideas of the solution

- User's function expansions should take priority over default ones, even i

[2022-11-24 00:11] odashi commented on #134
Since the library still has many remaining issues under the hood, this should be a nice-to-have, not urgent feature. But feel free to implement any PoCs for this; I never block any researches using this library.

I think providing a good default behavior is prioritized than providing many user-side control particularly in this kind of library, since I think of users may not want to write any other

[2022-11-24 14:58] ZibingZhang commented on #57
Maybe an required keyword argument to specify the argument to target?

[2022-11-25 03:32] odashi commented on #57
I guess you meant some argument to specify the output style. Yes we need to have one for it (and maybe it'd be better to integrate the current `function` and `expression` behaviors into "style")

[2022-11-27 17:17] ZibingZhang commented on #57
Maybe adding a `sytle=StyleEnum` field in the config, and instead of `latexify.expression` being a wrapper around `latexify.function` with `use_signature=False`. Instead it would be a wrapper with `config.style = Style.EXPRESSION`?

That way we could have things like
[code]

and we could have
[code]
[code]

[2022-11-27 19:36] odashi commented on #57
Yes. And we should have functions for every choice of style. As this is an essential config, users shouldn't write the style parameter every time.

[2022-11-28 01:42] #81 closed

[2022-11-28 01:42] #87 closed

[2022-11-28 07:33] #82 closed

[2022-11-28 08:44] odashi commented on #91
Resolved by #111

[2022-11-28 08:44] #91 closed

[2022-11-28 08:45] odashi commented on #74
Resolved by #115

[2022-11-28 08:45] #74 closed

[2022-11-28 08:46] odashi commented on #65
This is generally supported in the current implementation. We'd support individual functions in separate issues (if needed).

[2022-11-28 08:46] #65 closed

[2022-11-28 14:13] Casper-Guo commented on #83
What is the best place to check for function names for this issue? Should this be done in the `function_expander.py` file following #132 or should it be checked in `visit_Call` in `function_codegen.py` following #118 ?

[2022-11-28 22:10] odashi commented on #83
@Casper-Guo If you are planning to implement this on `FunctionExpander`, `function_expander_test.py` is the best place I think.

[2022-11-29 02:21] erica-w-fu commented on #93
Could I get some clarification on what is expected? Are we trying to convert match statements to latex? What does support mean exactly?

[2022-11-29 03:09] odashi commented on #93
Basically implementing some codegen rules in `function_codegen.py` is all you need.

As for "small development", you can start to implement only a specific portion in the whole syntax (e.g., I think supporting only [MatchValue](https://docs.python.org/3/library/ast.html#ast.MatchValue) is the easiest one).
For all other cases, we should raise `LatexifyNotSupportedError`, which marks "not supported

[2022-11-29 03:58] odashi commented on #93
I think the whole match case can't be supported in `latexify.function` because there are capture clauses that there aren't any corresponding syntax in math. It would be better to support only syntaxes with:
- Constants
- sequence/dict with only constants

[2022-11-29 04:03] odashi commented on #93
The resulting LaTeX could be expressed semilarly to that of the if clause:

[code]

$$\left\\{ \begin{array}{ll} x, & \mathrm{if} \ x = 0 \\\\ \frac{\sin(x)}{x}, & \mathrm{otherwise} \end{array} \right.$$

[2022-11-29 15:24] Casper-Guo commented on #83
Sorry I didn’t meant checking as in writing test cases. I was asking where best to extract numpy function names and generate the appropriate Latex. The two linked PRs seem to do this in different files

[2022-11-30 19:25] erica-w-fu commented on #93
How can we build the project for development? Are there any detailed docs that explain how to build and test latexify/our implementation?

[2022-11-30 23:24] odashi commented on #93
@erica-w-fu I will add some documentation.